apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  {{- if .Values.app.replicas }}
  replicas: {{ .Values.app.replicas }}
  {{- else }}
  replicas: 1
  {{- end }}
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
          env:
            - name: PHOENIX_ENDPOINT
            {{- if .Values.phoenix.endpoint }}
              value: {{ .Values.phoenix.endpoint | quote }}
            {{- else }}
              value: "http://phoenix:4317"
            {{- end }}
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: openai-secret
                  key: api-key
            - name: TAVILY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: tavily-secret
                  key: api-key
          imagePullPolicy: IfNotPresent